.main-nav {
    background-color: var(--clr-primary-nav-bg);
    justify-content: space-between;
    font-family: poppins-medium;
    border-radius: 36.5px;
    height: 4.5625rem;
    margin: 10px 0px;
    min-width: 100%;
}

.main-nav .logo {
    font-size: 1.355625rem;
    color: var(--clr-primary--4);
    padding-inline-start: 5.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.main-nav .logo:hover {
    padding-inline-start: 3rem;
    text-shadow: 0px 0px 3px black;
    color: var(--clr-hover);
}

.main-nav .nav-options {
    justify-content: space-between;
}


.main-nav .gallery,
.about {
    line-height: 50px;
    font-size: 1.301875rem;
    cursor: pointer;
    border-radius: 30px;
    transition: color 0.8s border-radius 0.8s;
    transition: background-color 0.8s;
    color: var(--clr-primary--4);
    text-decoration: none;
    display: block;
    width: 7.4375rem;
    text-align: center;
}

.main-nav .about {
    margin-inline-end: 4.5rem;
}

.main-nav .gallery {
    margin-inline-end: 1.5rem;
}

.gallery:hover,
.about:hover {
    background-color: var(--clr-primary--3);
    color: var(--clr-hover);
}

.sort-by {
    /* box-sizing: content-box; */
    width: 10.3%;
    background-color: var(--clr-primary--1);
    color: var(--clr-primary--3);
    border-radius: 50px;
    flex-grow: 1;
    font-family: poppins-regular;
    font-size: 2rem;
    justify-content: space-around;
}

.more-btn {
    height: 2.5rem;
    border-radius: 18px;
    font-family: poppins-light;
    color: var(--clr-primary--3);
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    padding-block-start: 0.3rem;
    font-size: 1.19875rem;
    background: var(--clr-primary-nav-bg);
    margin-left: 1rem;
}

.filter-by-more-btn-container {
    flex-grow: 1;
    height: 3rem;
    align-items: center;
}

.search-input {
    background-color: #22252c;
    border-radius: 29px;
    width: 33.3%;
    padding-left: 1rem;
    margin-right: 1rem;
    font-size: 1.301875rem;
    border: none;
    outline: none;
    font-family: poppins-light;
    color: white;
}

input.search-input {
    background-image: url(/icons/search-icon.png);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 0.5rem;
}