:root {
    /* main palette */
    --clr-primary-base: #22252C;
    --clr-primary-base-1: #383B42;
    --clr-primary--1: #818181;
    --clr-primary--2: #c2c2c2;
    --clr-primary--3: white;
    --clr-primary--4: #FFFFFF;

    --clr-primary-nav-bg: #5970C1;

    --clr-hover: #21AC91;
    --clr-test: #ef0d0d;
}